.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: #0f0f0f;
}

.content {
  display: flex;
  flex: 1;
  margin-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  background: linear-gradient(180deg, #f3f5ff 0%, #fdfdff 40%, #ffffff 100%);
  overflow: hidden;
  min-height: 0;
}
