.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 3rem;
}

.header {
  display: flex;
  flex: 1;
  max-height: 4rem;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 0.25rem;
  border-bottom: 1px solid var(--secondary-icon-color);
}

.label {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: var(--primary-text-color);
}

.headerActions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-end;
}
