.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  min-height: 4rem;
  width: 100%;
  flex: 1;
  gap: 0.5rem;
  padding: 0 0.5rem;
}

.searchInput {
  flex: 1;
  padding: 0.6em 1em;
  border-radius: 0.5rem;
  background-color: #fefefe;
  color: black;
  width: 0;
  height: 80%;
  font: inherit;
}

.hamburgerMenu {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
}
