
.fileButton,
.directoryButton {
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 0.35rem;
  font: inherit;
  cursor: pointer;
  padding: 0.25rem 0.35rem;
  border-radius: 0.35rem;
  width: 100%;
  text-align: left;

  &:hover,
  &:focus-visible {
    outline: none;
    background-color: var(--secondary-color);
  }
}

.directoryButton {
  font-weight: 600;
}
