*,
*::before,
*::after {
  box-sizing: border-box;
}
$deep-twilight: #03045eff;
$french-blue: #023e8aff;
$bright-teal-blue: #0077b6ff;
$blue-green: #0096c7ff;
$turquoise-surf: #00b4d8ff;
$sky-aqua: #48cae4ff;
$frosted-blue: #90e0efff;
$frosted-blue-2: #ade8f4ff;
$light-cyan: #caf0f8ff;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #2f2f2f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;

  --primary-color: #{$french-blue};
  --secondary-color: #{$blue-green};
  --primary-background-color: #{$light-cyan};
  --primary-shadow-color: #{$deep-twilight};
  --primary-text-color: #000;
  --primary-icon-color: #000;
  --secondary-icon-color: #aaaaaa;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  gap: 0.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px var(--primary-shadow-color);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: var(--primary-color);
}

button:active {
  border-color: var(--primary-color);
  background-color: var(--primary-background-color);
}

input,
button {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;

    --primary-text-color: #fafafa;
    --primary-color: #{$turquoise-surf};
    --secondary-color: #{$french-blue};
    --primary-background-color: #{$deep-twilight};
    --primary-shadow-color: #{$deep-twilight};
    --primary-icon-color: #fafafa;
    --secondary-icon-color: #aaaaaa;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
  }
  button:active {
    background-color: var(--secondary-color);
  }
}
